header {
  text-align: left;
  color: #fff;
  padding: 20px;
  background-color: #1976d2;
}

.wrapper {
  position: relative;
}

.wrapper span{
  font-size: 1.25rem;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 25px;
}

